.cross-button {
  @include reset-button;
  @include square(44px);

  position: relative;
  top: -4px;
  left: 10px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 69%;
    left: 5px;
    width: 80%;
    height: 2px;
    background-color: var(--color-white);
    border-radius: 5px;
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}
