.footer {
  padding-block: 100px;
  display: flex;
  justify-content: space-between;
  column-gap: 200px;
  max-width: 1300px;

  @include desktop {
    column-gap: 117px;
    justify-content: flex-start;
  }
  @include tablet {
    column-gap: 35px;
  }
  @include mobile {
    padding-block: 50px;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }

  &__inner {
    display: flex;
    flex-direction: column;

    &-link {
      margin-bottom: 20px;

      &-logo {
        min-width: 224px;
      }
    }

    &-soc1als {
      .soc1als__inner {
        &-list {
          display: flex;
          column-gap: 10px;

          @include mobile {
            align-items: center;
            justify-content: space-between;
            max-width: 94px;
            margin-inline: auto;
          }
        }
        &-item {
          @include flex-center;
          @include hover {
            opacity: 0.7;
            color: var(--color-blue);
          }
        }
      }
    }
  }

  &__pages {
    @include fluid-text(17, 16);
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    @include mobile {
      flex-direction: row;
      column-gap: 20px;
    }
  }

  &__page {
    @include hover {
      opacity: 0.9;
      color: var(--color-blue);
    }
  }

  &__list {
    @include fluid-text(17, 16);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;

    @include mobile {
      flex-direction: row;
      column-gap: 20px;
      justify-content: center;
    }
  }

  &__item {
    @include hover {
      opacity: 0.9;
      color: var(--color-blue);
    }
  }

  &__musics {
    display: flex;
    column-gap: 17px;
  }

  &__music {
    @include square(32px);

    &-link {
      @include hover {
        scale:1.5;
      }
    }
  }
}
