.header {
  padding-block: 43px;

  @include mobile{
    padding-block: 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    &-list {
      display: flex;
      justify-content: space-between;
      column-gap: 40px;
      @include fluid-text(17,16);
    }

    &-item {
      &:first-child {
        color: var(--color-blue);
      }
    }
  }
}
