:root {
  --color-gray: #191919;
  --color-dark: #000000;
  --color-white: #ffffff;
  --color-blue: #118da8;
  --color-white-transparent: rgba(255, 255, 255, 0.7);

  --border-radius: 12px;
  --border-radius-small: 6px;
  --border-radius-large: 32px;

  --font-family: "DM Sans", sans-serif;

  --container-width: 1300px;
  --container-padding-x: 30px;

  --section-padding-y: 100px;

  --input-height: 82px;
  --button-height: 51px;

  --transition-duration: 0.2s;

  @include mobile {
    --section-padding-y: 50px;
    --container-padding-x:15px;
  }
}
